.bg-primary-secondary-gradient {
  background: linear-gradient(to right, #972882, #393186); /* Adjust colors as needed */
}

.bg-secondary-primary-gradient {
  background: linear-gradient(to right, #393186, #972882); /* Adjust colors as needed */
}

/* Apply globally to all buttons with .btn class */
.btn {
  background: linear-gradient(90deg, #007bff, #6610f2);
  color: #fff;
  border: none;
  transition: all 0.5s ease; /* Smooth transition for hover effect */
}

.btn:hover {
  background: linear-gradient(90deg, #6610f2, #007bff); /* Swap colors on hover */
  transform: scale(1.05); /* Slightly enlarges button on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow on hover */
}

.btn:active {
  background: linear-gradient(90deg, #0056b3, #3a0ca3); /* Darker colors on click */
  transform: scale(0.98); /* Slightly shrinks button on click */
}
